.event-information{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  .inside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .title{
      text-transform: capitalize;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .event-information{
    width: 500px;
    height: max-content;
    //overflow:auto;
    padding: 50px;
    .inside-container{
      .title{
        font-size: 30px;
        margin-bottom: 40px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .event-information{
    width: 400px;
    height: max-content;
    //overflow:auto;
    padding: 40px;
    .inside-container{
      .title{
        font-size: 25px;
        margin-bottom: 30px;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .event-information{
    width: 320px;
    height: max-content;
    padding: 20px;
    .inside-container{
      .title{
        font-size: 18px;
        margin-bottom: 15px;
      } 
    }
  }
}
